@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, 'Zilla Slab', sans-serif;
}

.bg{
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-text{
  text-align: left;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}

.about{
  text-align: center;
  position: relative;
  font-family: zilla slab;
  font-size: 50px;
  margin-top: 100px;
}

.profile{
  text-align: justify;
  position: absolute;
  left: 50%;
  top: 130%;
  font-family: zilla slab;
  font-size: 20px;
  width: 540px;
}

img{
  position: relative;
  display: inline-block;
  top: 150px;
  left: 300px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px){
  img{
    top: 500px;
    left: 700px;
  }
  projects{
    top: 500px;
  }
}

.projects{
  text-align: center;
  position: relative;
  top: 200px;
  font-family: zilla slab;
  font-size: 50px;
  margin-top: 100px;
  background-color: black;
  color: white;
  height: 700px;
}